.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
}

.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(-10deg);
    transition: var(--transition);

}

.about__me-image:hover{
    transform: rotate(0deg)
}

.about__cards
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.about__card{
    background: #1a1818;;
    border: .5px solid transparent;
    border-radius: 2.5rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover{
    background: transparent;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card small{
    font-size: 1rem;
    color: var(--color-light);
}

.about__content p{
    margin: 2erm 0 2.6rem;
    color: var(--color-light);
}